<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>SAP Blogs</title>
	<atom:link href="https://blogs.sap.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://blogs.sap.com</link>
	<description>The Best Run Businesses Run SAP</description>
	<lastBuildDate>Thu, 06 Sep 2018 09:32:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	
	<item>
		<title>#ASUG BI September Newsflash includes #SAPTechEd #BIAConf Updates, #askSAP Fall Innovations Update, Influence &#038; More</title>
		<link>https://blogs.sap.com/2018/09/06/asug-bi-september-newsflash-includes-sapteched-biaconf-updates-asksap-fall-innovations-update-influence-more/</link>
		<comments>https://blogs.sap.com/2018/09/06/asug-bi-september-newsflash-includes-sapteched-biaconf-updates-asksap-fall-innovations-update-influence-more/#respond</comments>
		<pubDate>Thu, 06 Sep 2018 09:14:27 +0000</pubDate>
		<dc:creator><![CDATA[Tammy Powlas]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[BIAConf]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=714012</guid>
		<description><![CDATA[ASUG BI Community Newsflash We are planning for ASUG at SAP TechEd Las Vegas.  We also just finished 50 webcasts this year with over 10K registered and more are planned.   Please let us know what else you’d like to see]]></description>
				<content:encoded><![CDATA[<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/asugconf-1.jpg" /></p>
<h1>ASUG BI Community Newsflash</h1>
<h2></h2>
<h2></h2>
<p><em><strong>We are planning for ASUG at </strong></em><a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W3SsHtr8NYbCkW1X9hCc1PP7J-0/5/f18dQhb0S5fx8XJ8kFN8h256-HyjJqW3Mx_7M5v_YWKN3hHhbLXL0jYVnQ9Qq8-2LBxW8W1PGm52rkybW5mZ50N2MDlCmN30rxW_rNDLgW2N2Tv133FVz3W8TncP52MznrNW567bYV5lKvt_N5420y5JVPYMVVVW1H32p-C3W4cMfVr3Kqlz7N2K_NqtpwpgMW30T_rP2Vv3csW1G8Mxx1Bb4rMW6G0znm21qN1vMnFJZGvxmGKW8QVF8L1MFpNGW2R24CQ56CvvLW8TQPvL2PRP1tW1ZXNx_6Bv_40VlmsZQ4lJD_1W49yzqP7mJc5lN7t6x8VBb8M7W7tpjy421B53FW1QPg841S0T6BN1SKjPT9zM7DW3Swq4p74t8nXW4M11334H_8kwW2NdH2-6_kp6kW7WrRn16yvx5ZW5Y5NBz6DHYvcW1tFNx_2L5GhqW8kQD8Y6m9yBNW1FvH-W7CTBCyW5Z-GYh6pv7xsW8zVjhZ5w3375MdSQk91_PYWf3g_GpN11" rel="nofollow">SAP TechEd</a><em><strong> Las Vegas.  We also just finished </strong></em><a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W6wD2687fhC9LW1xwCBl7b8BDw0/5/f18dQhb0S5fg8XJbV6N8h256-HyjJqW3Mx_7M5v_YWKN3hHhbhVMsQMVnQ9Qq8-2v9fW5nDMS_8ZyB63W7Mcvp_4dPYyxW5p6zwZ9drcHDW1D8Blp8HbRxPW8j-gCZ55nSC9W1VJH714c2Rr9W7MPDNB69NG1wW6PqSg98mQMYTW7NM5zG1WlySSW2x-ccw7d094fW6G7Fbl4DFfS3W6R88jN8KVbJ3W2BCWYS6Nh7YkW1qYMfW8rkMQ0W5XcRQ-4Tz3rQW2pdbG45P3wYkW653f1x51thGmW1nvGJx7fxkq9W2y_1CY1xzM9CW5wVGnl8S0jfGW5bV0Gn8QQVx5W1KhzHK2yH6bvW2ZTP864KP5BHW1VtdTm4Ft1glN45Ly2MkwRN4W8h2jC97j_9bkW1DLgw97sSW5JW6hHMxn2HnZD9W1LjwS65hfQL4W8ngD_r4mDZQ_MK3_NWpD7LyW993gDD7wjMMYW6pLXDc6Pj0RsW5V9WFR3f5_rbW75QXl12dmM9Y0" rel="nofollow">50 webcasts</a><em><strong> this year with over 10K registered and </strong></em><a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W4V8Rtq3CLjYSW5fSTLx6gqrCK0/5/f18dQhb0S5fg8XJbV6N8h256-HyjJqW3Mx_7M5v_YWKN3hHhbhVMsQMVnQ9Qq8-2v9fW5nDMS_8ZyB63W7Mcvp_4dPYyxW5p6zwZ9drcHDVsgccB8HbRxPW8j-gCZ55nSC9W1VJH714c2Rr9W7MPDNB69NG1wW6PqSg98mQMYTW7NM5zG1WlySSW2x-ccw7d094fW6G7Fbl4DFfS3W6R88jN8KVbJ3W2BCWYS6Nh7YkW1qYMfW8rkMQ0W5XcRQ-4Tz3rQW2pdbG45P3wYkW653f1x51thGmW1nvGJx7fxkq9W2y_1CY1xzM9CW5wVGnl8S0jfGW5bV0Gn8QQVx5W1KhzHK2yH6bvW2ZTP864KP5BHW1VtdTm4Ft1glN45Ly2MkwRN4W8h2jC97j_9bkW1DLgw97sSW5JW6hHMxn2HnZD9W1LjwS65hfQL4W8ngD_r4mDZQ_MK3_NWpD7LyW993gDD7wjMMYW6pLXDc6Pj0RsW5V9WFR3f5_rbW9jwDsQ2dmM9Y0" rel="nofollow">more are planned</a><em><strong>.   Please let us know what else you’d like to see our group do for you.</strong></em></p>
<h2>SAP TechEd Las Vegas: October 2-5</h2>
<p><strong>October 1st ASUG SAP TechEd Preconference Sessions are open for Registration! Jumpstart your conference experience by attending an ASUG pre-conference seminar. Join the best minds in the industry, in a unique configuration to foster face-to-face networking and knowledge sharing.</strong></p>
<p>Data Visualization and Dashboards with SAP Analytics Cloud and SAP Analytics Cloud App Design</p>
<p>This full day hands-on workshop will provide customers with an overview on SAP Analytics Cloud and SAP Analytics Cloud App Building capabilities.</p>
<p>Attendees will lean which role SAP Analytics Cloud and SAP Analytics Cloud App Building can play as part of their overall SAP Landscape and how they can integrate with their existing on-premise and cloud based data sources.</p>
<p>You will have the opportunity to directly work with SAP Cloud Analytics and SAP Cloud Analytics App Building in combination with SAP BW and SAP HANA and create live a variety of dashboards.</p>
<p><a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W91gvSf7RcKLnW3xF6Zy7MyKKZ0/5/f18dQhb0Sjv48XJbV6N8h256-HyjJqW3Mx_7M5v_YWKN3hHhb7VMsQMVnQ9Qq8-2LBxW8W1PGm52rkybW5mZ50N2MDlCmN30rxW_rNDLgW2N2Tv133FVykW52XNnB8X4jfyW31H9sV8HbRxPW8j-gCZ55nSC9W1VJH714c2Rr9W7MPDNB69NG1wW6PqY7h3r-sqRW97qlwr6H5KbZW53X_Zp53h9RNMqPkxDnjZC8W1GMZvH2RFP6XW4NKwhx2tpBT_W9cQjM555d8wDW5n3XS01j7KdvW9cyB1F32-FJrW59xq1-1FVfhJW4NFkYy85wjGjW82L2Ny6wtW5rW8W5H6r4QmQtmW6zVHbT2SH7kvW56w8p_56ktVxVrZ0HY2p8_TTW7-cq4L8PYDn4W3ygvH88c3fNWW5lnv8j1MkZkYW4knzdx1DnZXvW1txQx51Hqk8QW2Kb8F-5mRgWyW23tlgZ3Z3l27W2NVrX08Y1-M2W8vlhYp3Y8g5NW27dhSh62RjlnW73yKD270RWK-f2MdtDT11" rel="nofollow">Register today!</a></p>
<p><a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W7rMSYd8C6YBWW1tyzLP8-mG4_0/5/f18dQhb0S65N2k8ZZ2VWVJH169xC-1W4HKlhz53xDlPW7qRwbc7RWBm0W554qts6Bq5LrW1K2TK38g7xGGW528yXM76gSNfVwZ_2-8NHf3ZW5gTFHX73TpmVV9_9xd5KTDm7W4-4DWt8NqmpFW7qc-nB2kNgYBW5-kgSy8_9cWnW7QKLBD4w70FWN2BXjv4mp1hBW6R01fQ1zd_dnVWbWMm3FF8rsW8r8n_Y35fmC1N2PB5qXKxqMDW2Nh6s92KpqcmW5FZcJH5n396-W3LJS9J1SG8KtW6G9VrS7D5LgXN3GzPB-51QPCW1WS1Dj1pmgNwVdskN83Zrk--W621jyt3mV4QKW6T7DPN72FdgxW3dFJs15t-dDzW1bxqZs4HFsxrW1xbc-s3f7tFgW1_Dxpl7NlDm6W7Jn5Kw5qp99DW9knVNZ6GtB09W2Ldgfv5W1vDSW8nHNYq8pWGWXW2nWGpv6Yw1dfVzwNHQ14WWbtW844FPz91cLF7W4m2cvz6kRbKXN8BGK9ygVwt-W70JQ5R4gg5jvW5hg0x82Fc4YbW2CPPX-4C1q_WV-gRGf8W6xn0W7_RrsZ41X90FW2fZT_X25G_mVW8sBWhK4w-tf2W2bLV7111_vR_W8PXN5F3QTSYtW30Hr6x5LdkT_W9769dw3bFJRjW9c1YGx86L_QRW4xGhs76mhQRjW8J1X958s_X3jW7PY4HL6dX_wQf7WbrcF04" rel="nofollow">Read more here</a></p>
<p><strong>ASUG/SAP TechEd Sessions:</strong></p>
<p>AIN115 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*MTPhy8TNzt_W6N2k2B8RGTRG0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5F2BNKV-Rf0-8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj1bvcD9f3QcdRW04" rel="nofollow">Quicken Implementations: Cloud ERP Using Seamless and Integrated Analytics</a><br />
AIN116 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W26F9_57d0K-6W3J7Zr921F3Pc0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5G1TjsW5Jm7rv8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj6Njy7wf3QcdRW04" rel="nofollow">How to Accelerate Implementations of SAP S/4HANA Cloud</a><br />
AIN117 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W6zG_q24mWWKqVVvgkm883Z4d0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5G1TrDVWTLx-8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj94yK-Rf3QcdRW04" rel="nofollow">AI and NLP Techniques in Real-World Advanced Manufacturing</a><br />
AIN225 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W2nxkSp1zfYKMN5kQG7_Zh8QG0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5F2JcHW3h6fg08pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj2ss0rcf3QcdRW04" rel="nofollow">Interactive Influence: Application Building with SAP Analytics Cloud</a><br />
AIN226 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W4f3mtB1j4zlzW2H3mhN644XRX0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5F2Jg2W5Br4sj8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj4RvV_Yf3QcdRW04" rel="nofollow">360° View of Your Business with SAP Fiori Launchpad KPI Tiles Dashboard</a><br />
AIN227 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W3FS3l52_yzkhW9gMh-q2ZJmYR0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5G1Tt-W3f8xK48pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj8M-mCMf3QcdRW04" rel="nofollow">SAP Analytics Cloud Influence Session</a><br />
AIN228 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W7rMWvk3dlTjNW4Bs2wN7sHwm10/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5G1TjsW3m49cF8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj8Sf4bpf3QcdRW04" rel="nofollow">How ArcelorMittal Analyzes Custom ABAP and Prepares for SAP S/4HANA</a><br />
AIN229 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W1kk6ZS9knxBpW34rfNw3HC3K60/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5G1Tt-VYT5_q8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj2_JPPDf3QcdRW04" rel="nofollow">Best Practices from Loblaw for Accelerating Innovation and Testing</a><br />
AIN309 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W4Mx1tM4N8w1BW4hfm6v8ccDvX0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5G1Tg6V-S3-d8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj1X2WhHf3QcdRW04" rel="nofollow">Learn How to Build a Huge Analytics Platform with SAP Analytics</a><br />
DAT221 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W5kqxm14V7Rh9W4C9xbd8CkM3z0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5G1TrDV-QRyl8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj187Lclf3QcdRW04" rel="nofollow">Integrate Enterprise Analytics Using Azure Data Lake on Cloud at Microsoft</a><br />
DAT312 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W9gVt054R2TWtW7xPM-X5xsWzD0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5G1Tt_W3f7JMR8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj36VQssf3QcdRW04" rel="nofollow">How American Hotel Register uses SAP HANA based EDW for next gen analytics</a></p>
<h2><strong>Opportunities to Influence</strong></h2>
<p>Please join ASUG on September 17th for this Webcast to kick off the ASUG Influence Council  for SAP Analysis Office. One of the unique values of ASUG is the opportunity to influence SAP.</p>
<p>Agenda:</p>
<ul>
<li>Introduction to the Influence council</li>
<li>Overview of SAP Analysis</li>
<li>SAP Analysis for Microsoft Office</li>
<li>Influence council charter and next steps</li>
</ul>
<p>Register <a class="jive-link-external-small" href="https://event.on24.com/wcc/r/1586124/CAF5DD51194111DB3780BED1EA0D2C0C" rel="nofollow">here</a>.</p>
<p><a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W8qx3Rr40n3hTW3tg8yv6N9HzX0/5/f18dQhb0S2C76_KWnMW12NtcL5Wj_FbW1l7CFT4RF6MbW3mMgTk69PwHvW34lj5Y1_QWstW7sl2rS8GZvcSN4dDL_sNmwgkW72kZC84FCg-cMJl5WjWtCGKN198YHWy70t5W3bCJNt4C5T1CW91HXWQ6VlZdVW5H-2-f263BJwW8sVHvM2QcWCyW6s0f_h4Q4VfPMmyM2PnBvpHN27dLr22yZ0XW74TJ5h8zxy1VVclKy11Y92gTN8WB3ylnsxXGW3wzTg58jzNrBW6lk1dT7rl-4cW38syQR12kgrCW4WWLVG2HrFr0W1bjdRD16Lf56V499xl5Z_vJmW8_nfsn5BxsY9V9vSgl5qMkXMW5sDQ3143Lw1FW2DBcJ84TZGXgVf4skF9flF8fW4SddZ47bWL9VW7M18rP6X6jJ4W7G4VPg4h743KVn1bV55LzYSvN13vJBrhprN4W7L2cRH8LpGTkW40xqz33kmXqsW3fSY0R6XtbJ3W4vZXw32SS99mW6VZ5cW70GD31W8J9l_j2xMP4zW1sbLzr25bmMRW20pVws3gvJbwW7HJRjm59XClmW7vfSYr2gzVjWW1NTVG97ggjZRW7pcskL8hg_3zVLCWsG49RHNTW5sW8vr538Qh-W7NzRLJ5SknS7W9f7Kys6XCpryW8_hkcX7L9FkLW7_vhpS3vXlFXW3B4F_-3M0wwJW18jnDw7nzP920" rel="nofollow">Are you ready to Influence SAP? Join ASUG at SAP TechEd Las Vegas for these ASUG Influence sessions</a></p>
<p>SAP and ASUG Volunteers invite your input at these ASUG Influence Sessions at <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*MfPRj6-NvVzW23D9lc5yGg260/5/f18dQhb0S5fn8XJblHN8h256-HyjJqW3Mx_7M5v_YWKN3hHhbLVMsQMVp3s9r33k-qrN2L4gjFJBmfWW8Wm1sh30Y3z2N32GTd4tg3yDW54qfxL8XlpJWW4cyN6w2MTPSpW8W2c9W32CQ2lW8jxMNS1Vx3W4W3CPQ_B5D8zFFW6bJ-px7nwG0kW2mGFGG4cnH7hW7cvxVf8q5qBxVVQf4X5vDhTYW98y7_t6Q1kRkW29K61s232pvMW5yTQhD9c1XfxMhfgHgWpjHNW37FJ6T240SjKN3cBd9dR9VKdW1s71Ch4rPkWpW66shHj2CNzvvW66Y7Vk8tjKv2W6N-BTw78Pj8sN2D0NFtVhWl_W2w55Hg8GclM4VPNtBv3YFR5lW8csLSq112nw3W2-sDn35PVG6nW5hhm3m5r9rsyW5Prb8v60MCDzW1Kf55Q7gYswVW9d5x1s91hgyMW8Fr0Bq5NHzhBN5y1T59r-5WkW7tZ30L2D4BKZN73Q0vR1-CzVf6dW31B02" rel="nofollow">SAP TechEd</a> (October 2-5, Las Vegas). ASUG SAP Point of Contact Ingo Hilgefort spoke about the power of one voice, something that Influence Councils provide, in this <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W11zfRR8RfZ6bVTKrxc1JXDbm0/5/f18dQhb0Smj28YXMm6N8h256-HyjJqW3Mx_7M5v_YWKN3hHhbVXL0jYVnQ9Qq8-ydbTN7LpxMFJBmfWN8Wm1whqyhQ7W1FVK9T2KBRYBW567bYV5lKvt_N5420y5JVPYMVVVW1H32p-C3W4cMfVr3Kqlz7W2KFZxK3Z7fsGMMNBCZMMQxXW80gSRf97rB1bW8xr9126PcW1KVZlnJN8lWrkpW5GNCB85H0H3qN4WJ29nN-FZfVcPwfj4s1hJ3W5H1G571kL8QvN5t_HW1-MdwJVPTM4l66g-Q6W3km9bC7gK0T2W29b_pt7cWsZpN6LdFj0QCt2sN2xlcD6bVd0lW7wTZy29jW9F_N8csGDVD2JF5W790Dn65gTtwfW3fsy0l5zCkQCW3dg2F-5lNvG_W3vBB9q19rc8kW7prQvl8Nd2zQN1s66BmNfM2FW8Z2ylg5Jvb7GW3snnRF49wDgkW2pglVT6vc-Z6VWLn9l1zSX6C0" rel="nofollow">blog</a>.</p>
<p>The ASUG Influence sessions are planned to be interactive and discussion-oriented, and some will include presentations from SAP about future product and roadmap direction. This is a unique opportunity for you to give feedback to SAP about current product development and help SAP shape a strategy for the future. SAP welcomes input from all users at these sessions, so make your voice heard and attend. Please consider adding these sessions to your agenda:</p>
<p>AIN225 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W2L-mKL844kQ1W4F0l461Zw8v00/5/f18dQhb0S1Xp6XvnqdSmLz69xCDJVnnZqn1d8QmHW1kF3WM4NSfMJW67pZlb69QQpGW6Pjwhg5yKjjzW2hkd0q1J1wR6W5fVLJ48w5b5xVnLT-074qMnYV87slw2X8JsNW6TrRnZ8JtX2lW2JlvWC2L7Sm6W7H0gGv1rFsC0N4-t0tyf5Vb1VR18G_4kYYsXW43MM7K6rgdF8W5DdV6P5cdCL-W8ZjhHC5zP8MkVNVmhf3j85J3VsdJdM2vDCWDW7X9jPT5g9HDdW3n4nHs459cW-W3XfMc23QGqSfVCvwjf4ZKghYV_Grky6T4-rkN8yLzbxGjd14W1MwcBV4t8fbqW5GhFdr5kq8S8W6SsgJ31DSGP4W1wvct65t0ZxtW6nG5y_52T_g-W2ZCXCT34K9fHW10lvGq2_VzMnN3DbYYDPF4hzW6QffGh1LMg0CW7B__6J2n9BcpW52f4Kt88VsZGW4lsSX31S5cdpW1xQnJ790WHdrW91zK_R2RLmNmW6Mx1Yt92qQChN7nGC1svbhsFW2TN2zQ18x8K-W8wz7jQ9bSDl3W54slNR6N-W5yM-3tt69K43SW7KPHKk3_3-lR0" rel="nofollow">Interactive Influence: Application Building with SAP Analytics Cloud</a></p>
<p>AIN227 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W7FrN3C5Xx1MNW8ZVP4B6MN80M0/5/f18dQhb0S1Xp2Wf2d8Sp7C3SsBP5W1cjs-N4YX5R2W3r8J8F1Y0phVW6fNYhR8pCKc3W8CfyLk8-TNBDW188rCL55jQXzVDNjg8837rqQW2vrnsg45VPjLW955ch_7QVx9tW4nsLK43XxnvgN1xVb0H_4v0hW3q59PH5D_kJWW1xhZCZ1b9jbTMkXFXYTk_fCVdKqMZ4_VTtMW526wfm5zlnybN6KX-QQXVsdCW79m_mK34gLxVW5B72Jq5Vz8GhW5h7hpP74Jv7JN1RS1hRcW6KgMMcMHtwTYf5W6MKK-G39T_z7VYSplL5lfdPMV8ml028DSCftW7pKxv03wzkhBW5Y1sZh36wrtSW3_-MqN11CzW9N4Bx5vMM8ttVW3FLLhk3rSLt6W5jcGjj4yTpxVN52_MJ78r2TgW4mD7d46yfpYKW7tlTsV3yC5x0W7m_mPW90Z2fwW7-WgrS49NL6qW7WVnMM3gsGXtW8yrD0w1lc3gYVxVq_s6xcPnYW3Xpr8G1m_YNSVdVG-T5_x4TmW213MLy3c3YsMW7ngyhS93cBD9W5rY9yx4pKC5PW8ftFrv7bwrn5W695qkF3_3-lR0" rel="nofollow">SAP Analytics Cloud Influence Session</a></p>
<p>AIN308 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W52Y1ZK7YlVgHW6ylMCN5JmR4k0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5F2JcHW10Pn2x8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj7MSCwVf3QcdRW04" rel="nofollow">Interactive Influence: SAP BusinessObjects Business Intelligence Platform</a></p>
<p>AIN401 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W6-TSpJ2vk7CJW4NMSD6341_hY0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5F2JcHW3h74cg8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj593MxXf3QcdRW04" rel="nofollow">Interactive Influence: SAP Analysis for Microsoft Office</a><br />
AIN402 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W1BmFB38FN5Q0W3XKGv194dpmP0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5F2Jg2VWTLx-8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj1bWBM8f3QcdRW04" rel="nofollow">ASUG Influence Council: SAP Lumira, Designer Edition</a><br />
AIN403 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W8N5SY895Zg3MW2F09P5654_xv0/5/f18dQhb0Sq5M8YXMK4N8h256-HyjJqW3Mx_7M5v_YWKW3hHhbQ5Cgxh0VnQ9Qq8-tSFZW54GzCm5lcQ5WW4dNWmw52rkvbW7r9rtC549CGtW4dQ7Pm8Zz5X9W8W4XVJ2KpSBxW30V2L026mb1gN8DmXCxZ_K7WVPdD5K5G1TtZVYT5_q8pC3YBW8r4gRq8rkV7MW6gyJ2R7dT6Y3VQJJn63Lqnm_W8q5FTl6skXLTW64QZb68rvGVnVphC7_8sYd1rW6tpJTc5Wd0bFW5-2sjB7ZzDyKW7GLjPj2LHfMmW7xbkKS7CKFHNW1mrqZL7JTDBKW89srt_20XPs0W6kKQY01FmzwCW7zRFL787GRCFW1szBtg6ysVb1W7N-3gc6jXjYXW28JLwx7HLG2JW2dSd3S86q0XrW1CyZbz72l_7HW6zLlfY1MhQqbW1z-k2L42ktnRN8ZsY0ZcWbVfW4Wpz-01rjHynW4PsjlW79v55lW7bjfP479PXv4VHMzL155Vm56W61lPZv25zpwMW85LW6279T8CRV5q5hC2jgglyW8WG6DT6gvHkDW42S7vC3QzSg8VQN_Tj17z3lrf3QcdRW04" rel="nofollow">Interactive Influence: SAP BusinessObjects Web Intelligence</a></p>
<p>DAT401 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*N5y_n1rPMPWzW7CyRg41FTXHv0/5/f18dQhb0S1Xp2WsJr2Sp7Q6bsysyW7155Qd57hhfxW4dz5Zc3vS0tQW6Gg8xP4pDHTfW801TNM3lKm1gW6VSn427FM-1yW4gJFqj6W--vRV9wdt113HzryW8cwCgc6qD059W8KslmL8qsRRYN2Lz967q5t3YW7H1Ynx1h7MktVBRwJd4hq8fVW7vXx6l26YpDQW479WVP50MM8YW7Vc1Z26wk1TLW7m4TLX463lpHW7r00gM2sN0c8W2K2qSm2gKkZvN20bRYDNd1MgN7dL17w7Zq3xW5q3mwF4LJf9HW4XG43M6jT0T2W1jQJvz3SPnzzN3bnvWyvGmm7W8Rx_6H5psd7sW3k9rXk2xFWC5W5L0XRD3GzrBKVDZvl65634yhW1DHD8Q8SJP1HW5hFyw43KVClKW2R3WWk6xrxQhW3FQFyy7XLfLLV3ydJZ1DncP_W1ZYXph54_nkxW68fFkN5vLd89W8kLsrj6zJGfXW3l3ZmB736vJvN7rzSF9w-J9HVzjjtj6-yQ3yW7v9Hw62H1PtfW8yzgwS8kP7LYW4yCYKp9jPPHSW8fbY1B7skl-DW2HRBK94RXt6VW6WVcYC3_3-lR0" rel="nofollow">ASUG Influence Council: Enterprise Data Warehouse</a></p>
<p>AIN114 &#8211; <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W6ZZGGg1Cm7zWW1nLBbV4DxB520/5/f18dQhb0S1Xp6XvnqdSmLT2H6zNyVnnZqn1d8QmJW1kF6d48bK0dFW7fvBdk8zBs1_W3Xkq0l3V0BwBW4qMqn4456snxW4zH44h2p98kYN2ZZdFXxKNMKVKsbkD3pK--TW4tFdtm1X7SS9W2K2Y6_5rymzDW6WgcYW2WH22SN3BYx5HYnk4cW3dbJ5P6W2kWlW5n4_NQ54kCpxW5PQDyr8HPSpqN7JzTLpPc-z9V88t6J33lPpPN60kMTTLTmySW4_l2cl3Bv1G5W4zc7sn2HcXh2W6k_hsN3GNphzN1Mtv6VxlytqW2h5x6Z9fMPq0W6wmyM-2VgsnjW6ZhCKd6sx6rgW7TD9bG5qBVW2W6Tpt8k3rzhtHW67ZLS452TSvPW6Wl9HR1F7V7fN2Y-hJb8T2xpW6dvDFn8844F0N22qXCRCcvZZVT-Jm-25FDHVW3h1Xf87kBV0ZW37g76B1HsckDW7hTqpZ427lSsW7SbjzF5XKF3NN64yC7PwkxfrW13DwTm9bnczbW47-BfL9k0dYwW90-2Tw78pmSFW7RKY079b5d9TW55kjfj7dkS12VjcBzS1fzPdwW76xD2n3_3-lR0" rel="nofollow">Interactive Influence: Review and Influence SAP Mobile Analytics Strategy</a></p>
<h2><strong>BI+A Analytics Conference</strong></h2>
<p>Become a part of the next-generation business intelligence and analytics users.  By attending you will witness what companies are doing and leave with inspiration and game-changing ideas.</p>
<p><strong>2 for 1 Special</strong></p>
<ul>
<li>Get in early and save</li>
<li>Receive conference updates</li>
<li>Start planning your trip today</li>
</ul>
<p><a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W2M0rSk8BNC_tW1xzr9q7D-ynd0/5/f18dQhb0Smj18YXMK4N8h256-HyjJqW3Mx_7M5v_YWKN3hHhd3XL0jYVnQ9Qq8-y6wkW5pXSM630TPxZW5lKKsv8Wm1r5W52Hs6V8X4zC5W2MznrN567bYVW5lKvt_5420y5MJVPYMVVW1HW32p-C34cMfVrW3KgvWZ31H380Vb0M3Y6b-vF0V70CWy1NC3KcW1F6KTt8X_VCmW4gXMM24krg45W482XYk1MDLPBN90_qccxw_Y4W1MR3Tl6hhnfKW481gdy6p9WY0W1FmlYS2ThwJnW8VzGPP2XNf-pW5cy6Wd2WMqZ_W7yyr7T4bSjMVW50rgYJ5d1ygYW1KDfhx50bcfPW7ZjRCN1BxxJmW7VhcL373R1h2W224lDf5YWRgwW2bJjkP1csSl3W1tgV4T2cMwrBW2Frcl83qvbjlW5bN28m95594NW8Jt4JK7ZL69vW2bffJN1KZSjZVXWNhR5zR6cdW5bbDYK4Pv86fV5X_pm3Jzf3c102" rel="nofollow">Read more here</a></p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/bia2019-1.png" /></p>
<p>Source: Eventful Conferences</p>
<p>Did you know that call for speakers is open?  <a class="jive-link-blog-small" href="https://discuss.asug.com/community/sig_communities/business_intelligence_group_discussion_forum/blog/2018/09/04/call-for-speakers-for-bianalytics-2019-is-now-open-biaconf-biaconference">Call for Speakers for BI+Analytics 2019 is Now Open #BIAConf @BIAConference</a></p>
<p>Establish yourself as a thought leader</p>
<p>Learn more <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W7Ghzpc3yv7p_MXq2dBHgFWV0/5/f18dQhb0S5fs8XJ9c2N8h256-HyjJqW3Mx_7M5v_YWKN3hHh8mXL0jYVnQ9Qq8-y6wkW5pXSM630TPxZW5lKKsv8Wm1ttW2N6lyS2MVkHhW2N30ZX2NSXS0W8_dDry4bH_npW9d-Kxw57-ZBTW83C5JP1Z66s1W83KHrF7J39pBW2ns9FD1njMtBW6H5WnV53X_ZpN53hjy3QC5z2VPC2cV3kwvq_N5Jg5Hgbkzg0W4WRFkx94vMx3VVkq6F1p1-PDW2zjsv995ZRJ3N63-kvQZ-RfKN3hMvBn8bG-6W6SWMrc6PjP8VW3GTkQ48r5tgLVhChzw3MHY17N5JlgLKVWTksMXwFj5XT8prW4PkBg56BkmNHW8bQdXY72zrXTW712wFR1mF3kgW3vGWMC8FN6njW3gMtfq2_28ynW3jSHry5qnkcbW1ny5pj48WQBtW7T7Kbc5wPlpzW8v-v_z7GygpSW7Tjxcx4jr750W2MxLQm4Q-5SVW4Hzl-P5NXl0N111" rel="nofollow">here</a></p>
<h2><strong>#askSAP Fall Innovations Update </strong></h2>
<p>Register now for  <a class="jive-link-external-small" href="https://event.on24.com/wcc/r/1822215/F1A1B36A1B5452DBF71D768796C163BD?partnerref=ASUG" rel="nofollow">#askSAP Analytics Innovations Community Call &#8211; SAP Analytics Fall 2018 Innovation Update</a></p>
<p><a href="https://event.on24.com/wcc/r/1822215/F1A1B36A1B5452DBF71D768796C163BD" rel="nofollow"><img class="image-1 jive-image" src="https://discuss.asug.com/servlet/JiveServlet/downloadImage/38-3448-198651/reg2018.jpg" alt="reg2018.jpg" width="136" height="42" /></a></p>
<p>&nbsp;</p>
<p><strong>Topic: SAP Analytics Fall 2018 Innovation Update</strong></p>
<p><strong>October 18, 2018 &#8211;  8:00 am PDT | 11:00 am EDT | 5:00 pm CEST </strong></p>
<p>&nbsp;</p>
<p>Analytics are the window into an Intelligent Enterprise and the landscapes are always changing, evolving, and improving.  We’ve gone from ‘governed BI’ to ‘modern and agile BI with data discovery’, to the acceptance of cloud analytics and now emergent ‘smart BI’ using AI and machine learning to provide natural language interfaces. Innovation is moving both technology and the benefits it can offer organizations rapidly forward &#8211; on premise, in the cloud, and hybrid.</p>
<p>&nbsp;</p>
<p>Join SAP for our final #askSAP Analytics Innovations Community Call of 2018 to see how we’re bringing analytics together, making analytics easier, and delivering modern innovation in the cloud.</p>
<p>&nbsp;</p>
<p>On this call, you will learn about:</p>
<ul>
<li>SAP’s vision for analytics as we head into 2019</li>
<li>Smart predict capabilities in SAP Analytics Cloud</li>
<li>Enhanced hybrid capabilities and what’s ahead in SAP BusinessObjects BI 4.3</li>
<li>Application design elements for SAP Analytics Cloud</li>
<li>End to end analytics and data management with SAP Analytics Cloud</li>
</ul>
<p>&nbsp;</p>
<p>This is your opportunity to be part of the discussion and engage with the SAP product experts.  Joining us for this call are:</p>
<p>Moderator:</p>
<ul>
<li>Steve McHugh, Director, Enterprise BI / Hybrid Analytics Product Marketing, SAP</li>
</ul>
<p>Speakers:</p>
<ul>
<li>Gerrit Kazmaier, SVP &amp; Head of Development for SAP Analytics, SAP HANA, and Database and Data Management, SAP</li>
<li>Richard Mooney, Product Management, Predictive Analytics, SAP</li>
<li>Adrian Westmoreland, Product Management, SAP Analytics Cloud, SAP</li>
<li>Ingo Hilgefort, Chief Product Expert, SAP Analytics Cloud, SAP</li>
<li>Lothar Henkes, VP Product Management BW, SAP</li>
</ul>
<p>&nbsp;</p>
<p>SAP looks forward to providing you with the latest information and addressing your questions.</p>
<p>Don’t miss this informative, interactive event on October 18.</p>
<p>&nbsp;</p>
<p><a class="jive-link-external-small" href="https://event.on24.com/wcc/r/1822215/F1A1B36A1B5452DBF71D768796C163BD?partnerref=ASUG" rel="nofollow">Register today</a></p>
<p>&nbsp;</p>
<h2><strong>Upcoming Webcasts</strong></h2>
<p><strong>September 10 Get Ready for SAP TechEd Las Vegas <a class="jive-link-external-small" href="https://www.eventbrite.com/e/sap-community-calls-getting-ready-for-sap-teched-2018-tickets-48601814335" rel="nofollow">Register here</a></strong></p>
<p>September 17  <a class="jive-link-external-small" href="https://event.on24.com/wcc/r/1586124/CAF5DD51194111DB3780BED1EA0D2C0C" rel="nofollow">BI: ASUG Analysis Influence Council Relaunch</a></p>
<p>September 18 <a class="jive-link-external-small" href="https://event.on24.com/wcc/r/1817066/2E204DF2DDCEC648AA26C7E33D2CE43D" rel="nofollow">Flexible conversion possibilities to SAP BW/4HANA</a></p>
<p>September 25 <a class="jive-link-external-small" href="https://event.on24.com/wcc/r/1818823/778AA5D774E8CA4FB8DB5F92B5FF2E4A" rel="nofollow">Dip Your Toe Into SAP Leonardo: Industry Innovation Kits as the Key to the Intelligent Enterprise</a></p>
<p>September 26 <a class="jive-link-external-small" href="https://event.on24.com/wcc/r/1818914/EB0434E01FB4ED476BB690415B1895BC" rel="nofollow">BI: How to deliver self-service reporting via the Web Intelligence Shared Elements</a></p>
<p>October 9 <a class="jive-link-external-small" href="https://event.on24.com/wcc/r/1826953/1F7834C81B030022EFABAA7737969E01" rel="nofollow">SAP Leonardo for Retail: Zero Waste Option<br />
</a></p>
<p>October 10: <a class="jive-link-external-small" href="https://event.on24.com/wcc/r/1826969/89A14AD226C1AE9DD1D85A49B34EE0AA" rel="nofollow">What’s new in SAP BOBJ Web Intelligence 4.2 SP07?</a></p>
<p>More are being planned</p>
<p>For a list of our 2018 webinar recordings/replays please see <a class="jive-link-external-small" href="https://emails.asug.com/e1t/c/*W9162qH3Nt0LnW5M7KMS6gZJTS0/*W8Kw0Vn5TjYjBVdnf5L28rk010/5/f18dQhb0S5fg8XJbV6N8h256-HyjJqW3Mx_7M5v_YWKN3hHhbhVMsQMVnQ9Qq8-2v9fW5nDMS_8ZyB63W7Mcvp_4dPYyxW5p6zwZ9drcHDW1D8Blp8HbRxPW8j-gCZ55nSC9W1VJH714c2Rr9W7MPDNB69NG1wW6PqSg98mQMYTW7NM5zG1WlySSW2x-ccw7d094fW6G7Fbl4DFfS3W6R88jN8KVbJ3W2BCWYS6Nh7YkW1qYMfW8rkMQ0W5XcRQ-4Tz3rQW2pdbG45P3wYkW653f1x51thGmW1nvGJx7fxkq9W2y_1CY1xzM9CW5wVGnl8S0jfGW5bV0Gn8QQVx5W1KhzHK2yH6bvW2ZTP864KP5BHW1VtdTm4Ft1glN45Ly2MkwRN4W8h2jC97j_9bkW1DLgw97sSW5JW6hHMxn2HnZD9W1LjwS65hfQL4W8ngD_r4mDZQ_MK3_NWpD7LyW993gDD7wjMMYW6pLXDc6Pj0RsW5V9XlM3f5_rbW4bhcJY2dmM9Y0" rel="nofollow">this link</a>.</p>
<p>&nbsp;</p>
<p>What more can ASUG volunteers do for you?</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/06/asug-bi-september-newsflash-includes-sapteched-biaconf-updates-asksap-fall-innovations-update-influence-more/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Remote Code Analysis in ATC &#8211; How to write an ATC check</title>
		<link>https://blogs.sap.com/2018/09/06/remote-code-analysis-in-atc-how-to-write-an-atc-check/</link>
		<comments>https://blogs.sap.com/2018/09/06/remote-code-analysis-in-atc-how-to-write-an-atc-check/#respond</comments>
		<pubDate>Thu, 06 Sep 2018 09:12:48 +0000</pubDate>
		<dc:creator><![CDATA[Olga Dolinskaja]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[abap]]></category>
		<category><![CDATA[abap test cockpit]]></category>
		<category><![CDATA[atc]]></category>
		<category><![CDATA[atc check]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=714154</guid>
		<description><![CDATA[This is the ninth blog of the blog series about Remote Code Analysis in ABAP Test Cockpit (ATC). See also blogs: Remote Code Analysis in ATC – One central check system for multiple systems on various]]></description>
				<content:encoded><![CDATA[<p>This is the ninth blog of the blog series about Remote Code Analysis in ABAP Test Cockpit (ATC).</p>
<p>See also blogs:</p>
<div class="scn-scrollable-area">
<table style="height: 52px;background-color: #daedf5" width="623">
<tbody>
<tr>
<td><a href="https://blogs.sap.com/2016/12/12/remote-code-analysis-in-atc-one-central-check-system-for-multiple-systems-on-various-releases/">Remote Code Analysis in ATC – One central check system for multiple systems on various releases</a></td>
</tr>
<tr>
<td><a href="https://blogs.sap.com/2016/12/13/remote-code-analysis-in-atc-technical-setup-step-by-step/">Remote Code Analysis in ATC – Technical Setup step by step</a></td>
</tr>
<tr>
<td><a href="https://blogs.sap.com/2016/12/13/remote-code-analysis-in-atc-working-with-baseline-to-suppress-findings-in-old-legacy-code/">Remote Code Analysis in ATC – Working with Baseline to suppress findings in old legacy code</a></td>
</tr>
<tr>
<td><a href="https://blogs.sap.com/2017/02/27/remote-code-analysis-in-atc-for-developers/">Remote Code Analysis in ATC for Developers</a></td>
</tr>
<tr>
<td><a href="https://blogs.sap.com/2017/02/27/remote-code-analysis-in-atc-working-with-exemptions/">Remote Code Analysis in ATC – Working with Exemptions</a></td>
</tr>
<tr>
<td><a href="https://blogs.sap.com/2017/09/18/remote-code-analysis-in-atc-scanning-customer-extensions/">Remote Code Analysis in ATC </a><a href="https://blogs.sap.com/2017/02/27/remote-code-analysis-in-atc-working-with-exemptions/">– </a><a href="https://blogs.sap.com/2017/09/18/remote-code-analysis-in-atc-scanning-customer-extensions/"> Scanning customer extensions</a></td>
</tr>
<tr>
<td><a href="https://blogs.sap.com/2017/11/20/remote-code-analysis-in-atc-working-efficiently-with-atc-result-list/">Remote Code Analysis in ATC – Working efficiently with ATC Result List</a></td>
</tr>
<tr>
<td><a href="https://blogs.sap.com/2016/12/22/remote-code-analysis-in-abap-test-cockpit-atc-faq/">Remote Code Analysis in ATC – FAQ</a></td>
</tr>
</tbody>
</table>
</div>
<h2></h2>
<p>Maybe you already know how to write an ATC check because we had a developer guide already available in the past (<a href="https://wiki.scn.sap.com/wiki/download/attachments/3669/CI_NEW_CHECK.pdf?api=v2">How to build a new check for the Code Inspector</a>).</p>
<p>But now with the remote scenario in ATC we enhanced the check framework and improved the ABAP code analysis infrastructure. Therefore we decided to provide a completely new developer guide to describe in detail which steps are necessary to integrate a new check into ATC.</p>
<p>Especially the aspects of remote enabled checks are described in detail in this new guide</p>
<p><a href="https://www.sap.com/documents/2018/09/905bfdab-1a7d-0010-87a3-c30de2ffd8ff.html">How to write an ATC Check</a> (PDF).</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/06/remote-code-analysis-in-atc-how-to-write-an-atc-check/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Join Semos Cloud at SuccessConnect 2018 in Las Vegas</title>
		<link>https://blogs.sap.com/2018/09/06/join-semos-cloud-at-successconnect-2018-in-las-vegas/</link>
		<comments>https://blogs.sap.com/2018/09/06/join-semos-cloud-at-successconnect-2018-in-las-vegas/#respond</comments>
		<pubDate>Thu, 06 Sep 2018 06:29:58 +0000</pubDate>
		<dc:creator><![CDATA[Goran Rice]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=714018</guid>
		<description><![CDATA[From September 11-13, 2018 more than 2,000 customers, thought leaders and SAP employees would be gathering at the Aria Casino &#38; Resort in Las Vegas for the largest SAP Success Factors event in the world. Semos Cloud]]></description>
				<content:encoded><![CDATA[<p>From September 11-13, 2018 more than 2,000 customers, thought leaders and SAP employees would be gathering at the Aria Casino &amp; Resort in Las Vegas for the largest SAP Success Factors event in the world.</p>
<p>Semos Cloud is sponsoring this year&#8217;s SuccessConnect event in Las Vegas and will be showcasing its employee experience suite which was built for extending your investments with Success Factors to support multiple HR programs such as Recognition &amp; Rewards, Surveys &amp; Assessments, Health &amp; Wellness, Projects &amp; Work Productivity, and 360 Continuous Feedback. As a company, you can design a flexible employee engagement strategy with an innovative choice of solutions built securely and running reliably on the SAP Cloud Platform.</p>
<p>This event will give you an opportunity to engage with SemosCloud experts and discover how Semos Cloud can help HR in organizations to make the best of their Success Factors investment.</p>
<p>&nbsp;</p>
<p><strong><u>Demo showcase – Booth #B4  </u></strong></p>
<p>Please use the link to schedule a meeting with our experts at the event &#8211; <a href="https://calendly.com/semos-successconnect" target="_blank" rel="nofollow noopener">https://calendly.com/semos-successconnect</a></p>
<p>&nbsp;</p>
<p>Download the brochures to explore our solutions</p>
<p>JobPts: <a href="https://bit.ly/2wET6Yk" target="_blank" rel="nofollow noopener">https://bit.ly/2wET6Yk</a></p>
<div><img src="https://media.licdn.com/dms/image/C4E12AQE1L-vC8GOZQA/article-inline_image-shrink_1500_2232/0?e=1541635200&amp;v=beta&amp;t=_cJJpFFYuZmVd38TOQh1xyYYlC0RaVNZLHki-wU0cMA" /></div>
<p>&nbsp;</p>
<p>SurveyRocks:  <a href="https://bit.ly/2NiX2Hy" target="_blank" rel="nofollow noopener">https://bit.ly/2NiX2Hy</a></p>
<div><img src="https://media.licdn.com/dms/image/C4E12AQEHhJIkbTJVVQ/article-inline_image-shrink_1000_1488/0?e=1541635200&amp;v=beta&amp;t=r9jnTEE6WxnVoF0zlzGqLSVAUW-nYfD0Wo8LK3O2Qmo" /></div>
<p>&nbsp;</p>
<p>FeedBck: <a href="https://bit.ly/2MJgQo6" target="_blank" rel="nofollow noopener">https://bit.ly/2MJgQo6</a></p>
<div><img src="https://media.licdn.com/dms/image/C4E12AQHbs5IvcS2B5w/article-inline_image-shrink_1500_2232/0?e=1541635200&amp;v=beta&amp;t=SfkdF3pPKaE71Pel9LvlRmfESVA4XbfcrzXtliCi1Xc" /></div>
<p>&nbsp;</p>
<p>Healthain:  <a href="https://bit.ly/2PzbbxM" target="_blank" rel="nofollow noopener">https://bit.ly/2PzbbxM</a></p>
<div><img src="https://media.licdn.com/dms/image/C4E12AQE_G3acu5c0KA/article-inline_image-shrink_1000_1488/0?e=1541635200&amp;v=beta&amp;t=8xIkyMllu1D_omqlEmH-NjsN5G58tzouLtCe-i3hfDs" /></div>
<p>&nbsp;</p>
<p>Boardflo: <a href="https://bit.ly/2PCDxr0" target="_blank" rel="nofollow noopener">https://bit.ly/2PCDxr0</a></p>
<div><img src="https://media.licdn.com/dms/image/C4E12AQGeIA9xO3sbBQ/article-inline_image-shrink_1000_1488/0?e=1541635200&amp;v=beta&amp;t=3-jSvqSebsJjRC62rUXhA8spnTWkc9qmzD0SOhgBfp8" /></div>
<p>&nbsp;</p>
<p>Session to attend:</p>
<p>12th September 2018</p>
<p>62770: Tired of Playing Catch-Up? Innovate Faster for HR in the Cloud</p>
<p>11:30 a.m. &#8211; 12:15 p.m. at Mariposa 6 . <strong>Add to your agenda: </strong><a href="https://bit.ly/2POD0TO" target="_blank" rel="nofollow noopener"><strong>https://bit.ly/2POD0TO</strong></a><strong>   </strong></p>
<p>&nbsp;</p>
<p><a href="https://calendly.com/semos-successconnect" target="_blank" rel="noopener">Meet us and explore how you can ‘Navigate your next’ by redesigning your people, organization, and increase your workforce.</a></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/06/join-semos-cloud-at-successconnect-2018-in-las-vegas/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>HCI Client Certificate Authorization</title>
		<link>https://blogs.sap.com/2018/09/06/hci-client-certificate-authorization/</link>
		<comments>https://blogs.sap.com/2018/09/06/hci-client-certificate-authorization/#respond</comments>
		<pubDate>Thu, 06 Sep 2018 06:18:43 +0000</pubDate>
		<dc:creator><![CDATA[Kaleo Fava-Kuntgen]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[hci authentication]]></category>
		<category><![CDATA[hci certificate authenticate]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=713514</guid>
		<description><![CDATA[The idea of this blog is show how to generate a certificate for a s-user and use it to authenticate in CPI. There is many reasons to use the certificate for authentication, the user will]]></description>
				<content:encoded><![CDATA[<p>The idea of this blog is show how to generate a certificate for a s-user and use it to authenticate in CPI.</p>
<p>There is many reasons to use the certificate for authentication, the user will not be blocked because someone put wrong password, you can restrict the service that you are creating only for a specific user, security better than basic authentication, and others. In our case we used to restrict a webservice to specific users.</p>
<p>Just think that all technical user have the role ESBMessaging.send, they can access any service if they know the url <img src="https://s.w.org/images/core/emoji/2.4/72x72/1f600.png" alt="😀" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>
<p>So let&#8217;s start, to create the certificate for your s-user, use the link below and click in &#8220;<em>Apply for an SAP Passport</em>&#8220;.</p>
<p><a href="https://support.sap.com/en/my-support/single-sign-on-passports.html">https://support.sap.com/en/my-support/single-sign-on-passports.html</a></p>
<p>In the next screen, you can see your name and s-user, put the password and click in &#8220;<em>Apply for an SAP Passport</em>&#8220;.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-22_39_51-SAP-Passport-SAP-ONE-Support-Launchpad-Internet-Explorer.png" /></p>
<p>Create a password for the certificate and click in Apply</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-22_44_29-SAP-Passport-SAP-ONE-Support-Launchpad-Internet-Explorer.png" /></p>
<p>In the next step, you can download the certificate and make a backup.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-22_47_38-SAP-Passport-SAP-ONE-Support-Launchpad-Internet-Explorer.png" /></p>
<p>Now we have your pfx file that we will use to authenticate in CPI, but we need to get the .cer from your certificate, so one of the easy way is install the pfx in your pc, and use the Internet Explorer to export.</p>
<p>Let install first, double click in your pfx file, next, next, put the password of your pfx and select the three options, next and finish.</p>
<p>Now let generate the .cer that we will use in the integration flow, open your Internet Explorer and go to menu &#8220;Internet Options&#8221;.</p>
<p>In the tab &#8220;Content&#8221;, click in &#8220;Certificates&#8221;.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-22_56_47-Internet-Options.png" /></p>
<p>Select your s-user certificate and click in &#8220;Export&#8221; and next, (keep the option &#8220;No, do not export the private key&#8221; and next, next.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-22_59_07-Certificates.png" /></p>
<p>Select a folder to save the .cer file and Next, Finish.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-23_02_59-Certificate-Export-Wizard.png" /></p>
<p>&nbsp;</p>
<p>Now we are ready to go to your iflow, it is very simple iflow with Soap Sender and a content modify just to create a xml for return.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-23_06_30-SAP-Cloud-Platform-Integration.png" /></p>
<p>The Soap adapter is in this case a SOAP 1.x, and here is the configuration.</p>
<p>In the Authentication, select Client Certificate, after that you should select you .cer. Save it and deploy the integration flow.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-23_09_44-.png" /></p>
<p>Now let&#8217;s test with SoapUI, go in to Menu -&gt; Preferences, in the left side select SSL Settings, Select your pfx file and put the password.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-23_19_38-SoapUI-Preferences.png" /></p>
<p>Import your wsdl in to SoapUI and you don&#8217;t need to put user and password now, just execute and you can see the response xml created by the Content Modifier.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-23_22_41-SoapUI-5.4.0.png" /></p>
<p>In the message monitoring you can see the message OK.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-23_26_09-SAP-Cloud-Platform-Integration.png" /></p>
<p>I also turn on the trace to get more information, if you go to traceMessage, you can see the certificate information used for authentication.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-23_29_20-SAP-Cloud-Platform-Integration.png" /></p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/2018-09-04-23_31_06-SAP-Cloud-Platform-Integration.png" /></p>
<p>&nbsp;</p>
<p>Thank you and I hope I&#8217;ve helped.</p>
<p>Kaleo</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/06/hci-client-certificate-authorization/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Capture the Flag &#8211; An experiential yet collaborative learning approach</title>
		<link>https://blogs.sap.com/2018/09/06/capture-the-flag-an-experiential-yet-collaborative-learning-approach/</link>
		<comments>https://blogs.sap.com/2018/09/06/capture-the-flag-an-experiential-yet-collaborative-learning-approach/#respond</comments>
		<pubDate>Thu, 06 Sep 2018 06:14:44 +0000</pubDate>
		<dc:creator><![CDATA[Philip Engelmartin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[capture the flag]]></category>
		<category><![CDATA[ctf]]></category>
		<category><![CDATA[hacker]]></category>
		<category><![CDATA[mindset]]></category>
		<category><![CDATA[SAP Next-Gen]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=713923</guid>
		<description><![CDATA[0x0001 When you think of security, data protection, data privacy or compliance trainings and e-learnings; what is the first thought that comes to your mind? &#8220;Wow, I look forward to participating in this challenging yet]]></description>
				<content:encoded><![CDATA[<h1>0x0001</h1>
<p>When you think of security, data protection, data privacy or compliance trainings and e-learnings; what is the first thought that comes to your mind?</p>
<blockquote><p>&#8220;Wow, I look forward to participating in this challenging yet interesting e-learning with 13 videos and 37 slides which I have to finish this week.&#8221;</p></blockquote>
<p>I bet you know this kind of training. You do it for several reasons. Because you have to be compliant. Because your team has to be compliant. Because it is mandatory. Because the notifications will annoy you day by day until you finish it. Because it is important? Because it is interesting? Because it is &#8230; <em>challenging</em>?</p>
<p>Trainings are important, especially the trainings I mentioned above. These trainings are not only important for the company you work for, but also for you as an employee. Completing the trainings might be boring, it might be tedious, it might be annoying, it might be &#8230; <em>motivating</em>?</p>
<p>Take a step back and think about all the trainings you already have participated in so far and try to remember where you have learned the most.</p>
<blockquote><p>&#8220;I learned a lot whenever I had to absorb the knowledge to be successful in a hands-on task.&#8221;</p></blockquote>
<p>I often hear this when I talk to friends, to colleagues, to customers; and it is the same for me. I learn the most when I have to get my hands dirty.</p>
<p>&nbsp;</p>
<h1>The Approach</h1>
<p>In 2015 a small team of Security Experts began implementing a new way of security education, <strong>C</strong>apture <strong>T</strong>he <strong>F</strong>lag. In 2016, SAP&#8217;s CTF premiered during our Cyber Security Awareness Month and instantly became a great success. But what the heck is a CTF?</p>
<p><em>Capture The Flag</em> has different meanings. It is an outdoor game where two teams compete against each other, a computer game for MS-DOS, a game mode for computer games but in cyber security it is a special form of competition with different kinds of challenges. In case you want to learn more about it I highly recommend <a href="https://ctftime.org/ctf-wtf/">CTF? WTF? from CTFtime.org</a>.</p>
<p>Of course, we did not invented the concept of CTFs or the idea of using gamification to enhance learning experiences and results. Due to SAP&#8217;s heterogeneous employee structure it was fundamental to develop an own approach in doing CTFs.<br />
We need to address every single employee and skillset in SAP: sales colleagues, colleagues from facility management, marketing, our service and support organization as well developers and security experts. Thus, our CTF Approach was born:</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/08/sapctf_approach.png" /></p>
<p>Our approach is based on one central Platform, enriched with hundreds of Challenges with different difficulty levels and driven by a bunch of CTF Mentors guiding participants through the challenges.</p>
<p>To provide you with a more comprehensive insight of our CTF I will explain the three pillars in a few words.</p>
<h2>Platform</h2>
<p>Our central CTF platform is a self-developed experiential learning platform with a competitive yet collaborative experience based on web technologies which enables us to bring all our colleagues and/or external participants to this central place to be part of our CTFs.</p>
<p>With its 2D or 3D background it enables us to provide multiple, exchangeable storylines with a seamless integration of our challenges. Participants are able to modify their profile, put an avatar in place, read about the mission, compare each other via the dashboard, follow an activity stream or even team up to rule the CTF collaboratively.</p>
<p>The storylines are an important part of our CTF approach to keep our participants eager to play it every year. Of course, our CTF platform is deployed on SAP Cloud Infrastructure. Below you can find a preview of one of our previous CTFs:</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/07/ctf_platform.png" /></p>
<h2>Challenges</h2>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/08/challenges-1.png" /></p>
<p>Keeping our participants busy and keen to proceed is not only granted by an interesting and attractive 2D or 3D environment or a well-made storyline; it is necessary to have interesting, demanding challenges. Our platform enables us not only to change the background environment and storyline when needed, but also select or deselect challenges.</p>
<p>All challenges are categorized in three profiles (= difficulties):</p>
<ul>
<li>Smart
<ul>
<li>Challenges for everyone, no technical knowledge or development skills needed. All these challenges can be solved with the help of search engines and without any previous cyber security knowledge. No experience in playing CTFs needed.</li>
</ul>
</li>
<li>Code
<ul>
<li>Challenges for participants with a deeper technical knowledge and development skills. All these challenges can be solved without any prior knowledge of cyber security. No experience in playing CTFs needed.</li>
</ul>
</li>
<li>Hack
<ul>
<li>Challenges for participants with experience in cyber security. Experience in playing CTFs is an advantage.</li>
</ul>
</li>
</ul>
<h2>Mentors</h2>
<p>What do you think is the most important thing in playing CTFs in such a heterogenous environment? It is not the well-designed platform with an awesome storyline, also not the challenge itself or the prizes (if there are some). My experience is that it is key to keep the barrier to enter the CTF as low as possible and the frustration level in an adequate range for every participant. But how to achieve it? We at SAP introduced the CTF Mentors; a bunch of experienced CTFers, Security Experts, Nerds and Enthusiasts.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/08/mentors-2.png" /></p>
<p>Managing participants frustration level while guiding them through challenges is not their only task; they also create and test the challenges before we run them. This means that every challenge available in our CTF is a challenge coming from our community for our community, tested by our community: A fully collaborative approach, as everywhere in our CTF.</p>
<p>&nbsp;</p>
<h1>\r\n</h1>
<p style="text-align: center">&#8220;Why is this worth 900 words so far?&#8221;</p>
<p>We were searching for a way to increase our employees security awareness and knowledge with an easy scalable methodology without the negative aspects of e-learnings or gamified e-learnings. Gamification is a nice way to make e-learnings more attractive but still has its limitations.</p>
<p>We took an already existing and well-known concept of playing CTFs and upgraded it to a well-scaling, experiential yet collaborative and highly customizable learning platform for everybody. While our participants are playing the CTF to learn and grow, we are able to identify talents, hire new Mentors and grow our security community.</p>
<p style="text-align: center"><em>&#8220;Embed security into the DNA of every employee.&#8221;</em></p>
<p>This is what our <a href="https://news.sap.com/2018/01/employees-need-hacker-mindset-to-fight-cybercrime/">Chief Security Officer Justin Somaini pointed out in one of his interviews</a>, at the beginning of 2018, to fight cybercrime’s $6 trillion price tag. And this is exactly what we are doing with CTF: <strong>Increasing the hacker mindset and embedding security into the DNA of every employee in SAP</strong>.</p>
<p>To prove that our approach is working even with complete newcomers and early talents we brought it together with our colleagues from <a href="https://www.sap.com/corporate/en/company/innovation/next-gen-innovation-platform.html">SAP Next-Gen</a> to <a href="https://talkit.eu">talKIT</a> this year, the biggest technology forum organized by students in the German speaking area, where we played our CTF over several hours with lots of students in multiple teams. Surprisingly and unexpected the winning team, students of economics, scored just a few points apart and won the CTF.</p>
<p>We are continuously adding new functionalities to the Platform and creating new Challenges for upcoming events like the Cyber Security Month in October or one of our big SAP Events where we bring CTF to its participants, sharing our security mindset as well as the CTF approach.</p>
<p>With this I want to conclude about our vision of an attractive, empowering and experiential way of security education. I hope you enjoyed reading it as much as I enjoyed writing about it.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>PS: Never forget to <strong>Try Harder</strong>!</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/06/capture-the-flag-an-experiential-yet-collaborative-learning-approach/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>SAP Technology Highlights</title>
		<link>https://blogs.sap.com/2018/09/06/sap-technology-highlights/</link>
		<comments>https://blogs.sap.com/2018/09/06/sap-technology-highlights/#respond</comments>
		<pubDate>Thu, 06 Sep 2018 06:10:22 +0000</pubDate>
		<dc:creator><![CDATA[Ulrich Klingels]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[abap]]></category>
		<category><![CDATA[beginner]]></category>
		<category><![CDATA[big data]]></category>
		<category><![CDATA[Core Data Service]]></category>
		<category><![CDATA[sap]]></category>
		<category><![CDATA[SAP Analytics Cloud]]></category>
		<category><![CDATA[sap api business hub]]></category>
		<category><![CDATA[sap cloud platform]]></category>
		<category><![CDATA[SAP Cloud Platform ABAP Environment]]></category>
		<category><![CDATA[sap copilot]]></category>
		<category><![CDATA[SAP Fiori Elements]]></category>
		<category><![CDATA[sap fiori launchpad]]></category>
		<category><![CDATA[SAP Leonardo machine Learning]]></category>
		<category><![CDATA[sap s4hana]]></category>
		<category><![CDATA[sap screen personas]]></category>
		<category><![CDATA[sap teched]]></category>
		<category><![CDATA[SAP Technology Highlights]]></category>
		<category><![CDATA[sapui5]]></category>
		<category><![CDATA[Slipstream Engine]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=713876</guid>
		<description><![CDATA[Do you want to get a comprehensive overview about most relevant topics? Join us in our hands-on session SAP Technology Highlights at SAP Teched. We will guide you through impressive topics and cool demos. Get]]></description>
				<content:encoded><![CDATA[<h3>Do you want to get a comprehensive overview about most relevant topics?</h3>
<p>Join us in our hands-on session <strong>SAP Technology Highlights</strong> at SAP Teched.</p>
<p>We will guide you through impressive topics and cool demos. Get your head around the following topics.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/Technologies.png" /></p>
<ul>
<li>Build your own story consuming different data sources and understand the concepts of <strong>SAP Analytics Cloud</strong> as it enables 360° analytics across the enterprise</li>
<li>Experience hands-on and explore <strong>SAP Leonardo Machine Learning </strong>services in the<strong> SAP API Business Hub </strong>and see how you can easily enrich apps with Ready-to-Use Functional Services</li>
<li>Learn how you can perform agile data operations across the enterprise with <strong>SAP Data Hub – </strong>a modern data landscape management solution which supports data sharing, pipelining, and governance of all data in a connected landscape</li>
<li>Build a native SAP Fiori application in <strong>SAP S/4HANA</strong> and <strong>SAP Cloud Platform</strong> based on <strong>Core Data Service (CDS) views</strong>, <strong>OD</strong><strong>ata</strong> and <strong>SAP</strong> <strong><strong>Fiori elements</strong></strong></li>
<li>Launch and personalize your <strong>SAP </strong><strong>Fiori Launchpad</strong> as an entry point to <strong>SAP Fiori apps </strong>on mobile and desktop devices</li>
<li>Get in touch with the brand-new <strong>SAP Cloud Platform ABAP Environment</strong> and leverage your existing ABAP knowledge in the cloud</li>
<li>Go mobile with <strong>SAP Screen Personas</strong> by utilizing native device services like scanning based on the latest <strong>SAP Screen</strong> <strong>Personas Slipstream Engine</strong> in ABAP transactions</li>
<li>Experience how <strong>SAP CoPilot – </strong>the digital assistant and bot Integration hub for the enterprise, brings the user experience in SAP S/4HANA to the next level with Chat, Skill Builder and Digital Assistants</li>
</ul>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/Devices.png" /></p>
<p>Learn more about these technologies and extend you skills to drive your projects.</p>
<p>Sounds interesting to you? It is interesting indeed!<br />
Join us, and we will walk you through these topics.</p>
<p>See you at SAP TechEd</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/06/sap-technology-highlights/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>5 EC Questions For SuccessConnect US</title>
		<link>https://blogs.sap.com/2018/09/06/5-ec-questions-for-successconnect-us/</link>
		<comments>https://blogs.sap.com/2018/09/06/5-ec-questions-for-successconnect-us/#respond</comments>
		<pubDate>Thu, 06 Sep 2018 06:07:33 +0000</pubDate>
		<dc:creator><![CDATA[Brandon Toombs]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=713841</guid>
		<description><![CDATA[SuccessConnect US is happening next week in Las Vegas.  Looking forward to seeing old friends and meeting new ones as we have a great community.  SuccesConnect is also the time when we get insight into]]></description>
				<content:encoded><![CDATA[<p>SuccessConnect US is happening next week in Las Vegas.  Looking forward to seeing old friends and meeting new ones as we have a great community.  SuccesConnect is also the time when we get insight into the direction of the solution, and this year is espeically important as it is the first full year under the the new leadership team.  Here are my top 5 questions for SuccessConnect from an Employee Central Point of View.</p>
<p><strong>SAP Analytics Cloud</strong></p>
<p>SuccessFactors has reported that SAP Analytics Cloud (SAC) is the <a href="https://www.ixerv.com/sap-analytics-cloud-successfactors-future-reporting/">go-forward reporting solution</a>. This approach is promising, but I am interested in finding getting more concrete details on timing for General Availability.  Will the solution have pre-built reports and connectors?  Will the solution solve current gaps/headaches in the current solution such as difficulty reporting on compa ratio?  Most importantly, can the solution merge data from Employee Central and Employee Central Payroll to produce a single view of both master data and payroll results?</p>
<p>&nbsp;</p>
<p><strong>Clear Path For On Premise Customers</strong></p>
<p>I give kudos to SuccessFactors for the <a href="https://www.successfactors.com/en_us/lp/sap-successfactors-solutions-are-better-for-hr-in-many-ways.html?Campaign_CRM=CRM-YA18-BHR-U2SLPSF">Upgrade2Success</a> program.  This is a set of tools to make the migration itself easier. However, from customers I&#8217;ve spoken to, the questions they&#8217;re asking surround the functionality itself.  There is still a lot of confusion in the marketplace.  Do we keep our on premise payroll?  Do we move to EC Payroll?  What about the new sidecar S/4?  What&#8217;s the long-term strategy?  SuccessFactors has done a great job of providing options, but hoping they do better about providing direction.</p>
<p>&nbsp;</p>
<p><strong>Progress on MDF Transition</strong></p>
<p>Starting around 3 years ago, Employee Central began a migration from its old architecture to the new Metadata Framework (MDF), which allows for easier maintenance and enhancement than the the old XML-based infrastructure. Around half of the foundation objects were migrated with a promise that the remainder would be completed soon thereafter.  However, there has been no movement (or even discussion thereof) in the past 2 years.  Hoping to hear some roadmap for completion of this transition.</p>
<p>&nbsp;</p>
<p><strong>Customer Success Stories</strong></p>
<p>Really excited to see some important customers discussing their successful Employee Central go-lives at SuccessConnect, with American Airlines being part of the keynote.  Seeing large well-established companies touting the solution helps prospective customers and also results in a more robust solution for everyone else.</p>
<p>&nbsp;</p>
<p><strong>Support Status</strong></p>
<p>I&#8217;m anxious to hear what progress is being made in the area of Product Support.  My perspective is that SuccessFactors Support has improved immensely over the past 2-3 years, with Expert Chat being especially well-received.  I do think that there are some areas where more progress needs to be made, particularly in ensuring that engineering is more proactive in publicizing known product limitations.</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/06/5-ec-questions-for-successconnect-us/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>HANA cockpit installation failing</title>
		<link>https://blogs.sap.com/2018/09/06/hana-cockpit-installation-failing/</link>
		<comments>https://blogs.sap.com/2018/09/06/hana-cockpit-installation-failing/#respond</comments>
		<pubDate>Thu, 06 Sep 2018 03:36:57 +0000</pubDate>
		<dc:creator><![CDATA[Naveen Kumar]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[hana cockpit]]></category>
		<category><![CDATA[Installation failing]]></category>
		<category><![CDATA[installation failing for space issue]]></category>
		<category><![CDATA[Installation in root directory]]></category>
		<category><![CDATA[mount point]]></category>
		<category><![CDATA[SAP HANA Cockpit 2.0]]></category>
		<category><![CDATA[SAP HANA Cockpit 2.0 SP 06]]></category>
		<category><![CDATA[SAP HANA COCKPIT 2.0 SP 07]]></category>
		<category><![CDATA[VM Cloud installation failing]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=714049</guid>
		<description><![CDATA[Problem: While installing HANA cockpit 2.0 , i observed my installation was failing because of space issue. As a HANA expert you might have noticed sometimes installation is failing in perquisite phase as space is]]></description>
				<content:encoded><![CDATA[<h1>Problem:</h1>
<p>While installing HANA cockpit 2.0 , i observed my installation was failing because of space issue.</p>
<p>As a HANA expert you might have noticed sometimes installation is failing in perquisite phase as space is less than expected. something like this :</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/ScreenHunter_01-Sep.-06-08.38.gif" /></p>
<p>I tried searching for solution on SCN and did not find any blog/solution so writing a blog on it.</p>
<p>There can XSA related issues which can cause HANA Cockpit installation to be failed. For Checking out XSA issue , you can refer the below link:</p>
<p><a href="https://blogs.sap.com/2017/07/04/xsa-installation-issues-and-troubleshooting/">https://blogs.sap.com/2017/07/04/xsa-installation-issues-and-troubleshooting/</a></p>
<h2>Reason:</h2>
<p>As it is clearly visible it is space issue in root directory. Straight away solution is to increase the space in root directory. However you should not increase space in root directory specially in VM or Cloud ,  you have mount points as per standard defined in HANA directory structure. Moreover your installation might be successful but due to increasing logs and data , root directory will be out of space and you wont be even login to VM.</p>
<p>Main reason of cockpit installation being failed was the directory structure picked by installer was not as per standard HANA directory structure which we have followed to create mount points.</p>
<p>&nbsp;</p>
<p>If the installer does not find the mount points, it attempts to install in root directory.</p>
<p>&nbsp;</p>
<h2>Solution specific to HANA 2.0 cockpit SP 7 and earlier:</h2>
<p>in the binaries downloaded from Service market place for cockpit, auto_install.cfg file contains silent installation system properties. It can be found in similar structure given below:</p>
<p><em>/&lt;installation_directory&gt;/&lt;HANA_DVD&gt;/HDB_SERVER_LINUX_X86_64/configurations/auto_install.cfg</em></p>
<p><strong>Open vi editor:</strong> vi auto_install.cfg</p>
<p>Here you will find :</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/ScreenHunter_02-Sep.-06-08.53.gif" /></p>
<p>you can change it to : I &lt;for insert&gt;</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/ScreenHunter_03-Sep.-06-08.55.gif" /></p>
<p>save the file in VI editor <em>&lt;esc&gt;qw!.</em></p>
<p>&nbsp;</p>
<p>Re-run the installation. Now the installation will proceed in mount points in standard HANA directory as shown below:</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/ScreenHunter_04-Sep.-06-08.57.gif" /></p>
<p>&nbsp;</p>
<p><strong>Generic solution: </strong></p>
<p>/hdblcm installer for Standard HANA DB gives you option to choose directory structure for data and log files and should not cause installer to install in root directory.</p>
<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/ScreenHunter_06-Sep.-06-09.02.gif" /></p>
<p>In case still it goes to root directory. Please check the mount points. some of the mount points provided in installer is actually not mounted in your VM or Cloud.</p>
<p>&nbsp;</p>
<p>Hope you never run in such issue again.</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/06/hana-cockpit-installation-failing/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>How To Use SAP For Machine Learning</title>
		<link>https://blogs.sap.com/2018/09/05/how-to-use-sap-for-machine-learning/</link>
		<comments>https://blogs.sap.com/2018/09/05/how-to-use-sap-for-machine-learning/#respond</comments>
		<pubDate>Wed, 05 Sep 2018 23:05:37 +0000</pubDate>
		<dc:creator><![CDATA[Scott Maynard]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=714035</guid>
		<description><![CDATA[Machine learning is still a relatively new field and many people haven&#8217;t yet figured the distinction between what&#8217;s possible and what&#8217;s speculation. One of the most important facets of machine learning from an SAP perspective]]></description>
				<content:encoded><![CDATA[<p>Machine learning is still a relatively new field and many people haven&#8217;t yet figured the distinction between what&#8217;s possible and what&#8217;s speculation. One of the most important facets of machine learning from an SAP perspective is security. The crux of the idea behind machine learning with a focus on SAP security is to teach the machine what sort of data is considered normal and what sort of data is considered anomalous. Additionally, the system may be taught to inspect logs in order to determine what constitutes a security breach and what regular activity on the SAP server looks like. However, as with many computer-based solutions, even after teaching the system the basic tell-tale signs it should be aware of, the system is never 100% right all the time.</p>
<h2>Machine Learning and SAP Security</h2>
<p>SAP, being a database architecture, has a lot of things that serve as potential entry points for exploitation. In the past, dealing with these potential points of entry could be problematic since so many of them are likely to exist in a single install. It would end up as a fight between trying to anticipate where an attack would happen or trying to catch an attack before it could cause significant damage. With SAP&#8217;s approach to machine learning, basic things like SQL injection and malicious script upload could be automated. Log entries generated from these issues could be spotted and the requisite action taken to the user or IP as the case may be. There are some significant limitations to this system, however.</p>
<h2>Managed Security Alongside Machine Learning</h2>
<p>SAP&#8217;s benefit is that their data scientists and engineers are well aware of the things that could potentially arise to cause problems for an SAP install. To this end, they can develop machine learning technology based around teaching the system about these things. Each SAP install is unique with its interactions and this may present an issue since an anomalous activity in one particular system might be regular operation in another. Having security personnel that can determine on their own merit what should be investigated and what can safely be ignored is still a necessity. Even though machine learning is quite good at what it does, it can only be used within strictly defined parameters. In the world of security, where it&#8217;s a constant arms race against malicious exploits, machine learning might only be semi-equipped to deal with new advances as they occur.</p>
<h2>Dealing with Non-Traditional Attacks</h2>
<p>While the system can be used with automated attacks, things like social engineering is likely to be on a different level, since it no longer directly deals with the database system on its own. With machine learning we can set up checks and balances that are able to determine whether an attempt at social engineering is being instituted or not. Fraud leaves signs that are machine readable, especially when everything is linked to the same system. Post-editing of email addresses and other seemingly innocent tasks from a CSR (like adding or removing purchase items) happen on a regular basis, but over time the system will spot patterns and are likely to see fraud setups long before they come to fruition. Machine learning these sorts of tasks can only be done over a longer period of observation and while it may set flags up when situations like this occur, it still needs a human to investigate since, at its core, social engineering focuses on the fallibility of humans, and not that of the system itself.</p>
<h2>The Future of Database Security?</h2>
<p>Machine learning provides a very interesting place to start from when it comes to automated security, but at the current levels of technology, it&#8217;s unlikely we will have unsupervised security coming along any time soon. The human element has always been and will continue to be a major part of designing and using exploits. The best we can do at this juncture is to trust SAP&#8217;s tools, the latest of which is the implementation of machine learning to help us make decisions about the system&#8217;s security. Machine learning isn’t fallible, but its strictures make it inflexible. It operates within rigorously defined parameters which can be a blessing as well as a curse. In system security, adaptability is important, and the addition of a human alongside the machine learning tools can make for a formidable barrier to those wanting to exploit an SAP system.</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/05/how-to-use-sap-for-machine-learning/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>University of Notre Dame Fall Career Center Events</title>
		<link>https://blogs.sap.com/2018/09/05/university-of-notre-dame-fall-career-center-events/</link>
		<comments>https://blogs.sap.com/2018/09/05/university-of-notre-dame-fall-career-center-events/#respond</comments>
		<pubDate>Wed, 05 Sep 2018 21:15:18 +0000</pubDate>
		<dc:creator><![CDATA[Don Ginocchio]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[SAP Early Talent]]></category>
		<category><![CDATA[SAP Next-Gen]]></category>
		<category><![CDATA[University Alliances]]></category>

		<guid isPermaLink="false">https://blogs.sap.com/?p=714028</guid>
		<description><![CDATA[Two additional SAP professionals joined me to represent SAP at two University of Notre Dame Career Center events this week on campus. We were very busy meeting and talking with students for two days at]]></description>
				<content:encoded><![CDATA[<p><img src="https://blogs.sap.com/wp-content/uploads/2018/09/20180904_193528_resized.jpg" /></p>
<p>Two additional SAP professionals joined me to represent SAP at two <strong>University of Notre Dame</strong> Career Center events this week on campus. We were very busy meeting and talking with students for two days at the events described below. Students from a variety of academic disciplines visited our tables and demonstrated great enthusiasm for careers with SAP. In addition to building brand awareness, SAP is seeking candidates for the <a href="https://www.sap.com/about/careers/university-programs/graduates/north-america-service-early-talent-program.html">North America Services Early Talent Program </a>, <a href="https://www.sap.com/about/careers/university-programs/graduates/academy.html">SAP Academy</a>, <a href="https://www.sap.com/about/careers/university-programs/graduates/impact.html">Graduate Impact Leadership Program</a>, summer <a href="https://www.sap.com/about/careers/university-programs/students/internships/internship-experience-project.html">internships</a> and the <a href="http://go.sap.com/about/careers/university-programs/graduates/silicon-valley-next-talent-program.html">SAP Silicon Valley Next Talent Program</a>. We connected with many students and collected resumes or electronic credentials that will be used in the next steps of the recruiting process.</p>
<p>I was fortunate to have help from SAP Colleagues <strong>Lloyd Burke and Steve Pino,</strong> who shared their personal SAP stories with current students. We asked two of our recent summer interns to stop by and help as well. They were able to tell personal stories and share experiences from the recent summer.</p>
<p>The following two events kept us busy on Tuesday and Wednesday:</p>
<ul>
<li><strong>IT, Analytics, and Operations (ITAO) Career Connect </strong>(Technology Meet &amp; Greet) – Tuesday September 4. This event was hosted by the ITM Club (from the Mendoza College of Business) and it was a great opportunity for firms to interact with Business Analytics and IT Management majors. Computer Science and ACMS majors, as well as CDT and Data Science minors were also invited. Prior to the Fall Career Expo, the event included many of the different technology majors for a more informal opportunity to connect with students that have a passion for technology.</li>
<li><strong>MBA Career Meet &amp; Greet</strong> – Wednesday September 5. Our team used this event to meet with a long line of interested MBA students. We explained our IMPACT rotational program along with other SAP opportunities and encouraged candidates to apply and share resumes.</li>
</ul>
<p>Steve Pino also spoke to students in the <strong>SAP Predictive Analytics Class</strong> on campus between these two events. He shared analytics use case stories of purpose driven innovation from several customer engagements with the students.</p>
]]></content:encoded>
			<wfw:commentRss>https://blogs.sap.com/2018/09/05/university-of-notre-dame-fall-career-center-events/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>