<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Analysis</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE" th:text="#{module.console}"></title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" th:href="@{/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css}">
<!-- Font Awesome -->
<link rel="stylesheet" th:href="@{/adminlte/bower_components/font-awesome/css/font-awesome.min.css}">
<!-- Ionicons -->
<link rel="stylesheet" th:href="@{/adminlte/bower_components/Ionicons/css/ionicons.min.css}">
<!-- Select2 -->
<link rel="stylesheet" th:href="@{/adminlte/bower_components/select2/dist/css/select2.min.css}">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/adminlte/dist/css/AdminLTE.min.css}">
<!-- iCheck -->
<link rel="stylesheet" th:href="@{/adminlte/plugins/iCheck/square/blue.css}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" th:href="@{/adminlte/dist/css/skins/_all-skins.min.css}">
<!-- Pace style -->
<link rel="stylesheet" th:href="@{/adminlte/plugins/pace/themes/white/pace-theme-minimal.css}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<link rel="stylesheet" th:href="@{/custom/custom.css}">

<!-- jQuery 3 -->
<script th:src="@{/adminlte/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- Select2 -->
<script th:src="@{/adminlte/bower_components/select2/dist/js/select2.full.min.js}"></script>
<!-- SlimScroll -->
<script th:src="@{/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/adminlte/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>
<!-- iCheck -->
<script th:src="@{/adminlte/plugins/iCheck/icheck.min.js}"></script>
<!-- PACE -->
<script th:src="@{/adminlte/plugins/pace/pace.min.js}"></script>

<script src="https://cdn.anychart.com/releases/8.3.0/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.3.0/js/anychart-ui.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.3.0/js/anychart-exports.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.3.0/js/anychart-data-adapter.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.anychart.com/playground-css/quadrant-charts/quadrant-motion/style.css" />
<link rel="stylesheet" href="https://cdn.anychart.com/releases/8.3.0/css/anychart-ui.min.css" />
<link rel="stylesheet" href="https://cdn.anychart.com/releases/8.3.0/fonts/css/anychart-font.min.css" />

<style>
    #container {
      width: 100%;
      height: 500px;
      margin: 0;
      padding: 0;
    }
</style>

</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
	<div class="wrapper">

		<header class="main-header">
			<nav class="navbar navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<a href="/" class="navbar-brand">
							<b>ReadyActor</b>
						</a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
							<i class="fa fa-bars"></i>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="/search">
									Search
									<span class="sr-only">(current)</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
					<!-- Navbar Right Menu -->
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">

						</ul>
					</div>
					<!-- /.navbar-custom-menu -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</header>
		<!-- Full Width Column -->
		<div class="content-wrapper">
			<div class="container">
				<!-- Main content -->
				<section class="content">
					<div id="container"></div>
					<script type="text/javascript">
anychart.onDocumentReady(function() {
  // The data used in this sample can be obtained from the CDN
  // https://cdn.anychart.com/samples/quadrant-charts/quadrant-motion/data.json
  anychart.data.loadJsonFile('/data.json', function(data) {
    var MONTHS = ['Q4 2016', 'Q1 2017', 'Q2 2017', 'Q3 2017', 'Q4 2017', 'Q1 2018', 'Q2 2018', 'Q3 2018'];

    $('#container').append(
      '<div class="control-container"><span class="edge left">Q4 2016 ' +
      '<button id="playButton"><i class="ac ac-play" aria-hidden="true"></i></button></span>' +
      '<input id="rangeInput" name="rangeInput" type="range" min="1" max="8" step="1" value="1">' +
      '<span class="edge right">Q3 2018</span></div>'
    );
    var ri = $('#rangeInput');
    var currentMonth = +ri[0].value;
    ri.on('change', function(e) {
      changeValue();
    });

    var blogger_data = anychart.data.set(data);

    var lineMapping = [];
    var markerMapping = [];
    var NAMES = ['Java', 'SAP Hybris Billing', 'SAP Hybris CRM', 'SAP Hybris Commerce', 'OTRS', 'SAP S/4 Hana', 'SAP Cloud Platform'];

    // create dataset
    lineMapping.push(blogger_data.mapAs().filter('name', function(val) {
      return val == 'SAP Hybris Commerce';
    }));
    markerMapping.push(blogger_data.mapAs({
      value: 'y',
      fill: 'mfill',
      stroke: 'mstroke',
      label: 'mlabel'
    }).filter('name', function(val) {
      return val == 'SAP Hybris Commerce';
    }));
    lineMapping.push(blogger_data.mapAs().filter('name', function(val) {
      return val == 'SAP Hybris Billing';
    }));
    markerMapping.push(blogger_data.mapAs({
      value: 'y',
      fill: 'mfill',
      stroke: 'mstroke',
      label: 'mlabel'
    }).filter('name', function(val) {
      return val == 'SAP Hybris Billing';
    }));
    lineMapping.push(blogger_data.mapAs().filter('name', function(val) {
      return val == 'SAP Hybris CRM';
    }));
    markerMapping.push(blogger_data.mapAs({
      value: 'y',
      fill: 'mfill',
      stroke: 'mstroke',
      label: 'mlabel'
    }).filter('name', function(val) {
      return val == 'SAP Hybris CRM';
    }));
    lineMapping.push(blogger_data.mapAs().filter('name', function(val) {
      return val == 'Java';
    }));
    markerMapping.push(blogger_data.mapAs({
      value: 'y',
      fill: 'mfill',
      stroke: 'mstroke',
      label: 'mlabel'
    }).filter('name', function(val) {
      return val == 'Java';
    }));
    lineMapping.push(blogger_data.mapAs().filter('name', function(val) {
      return val == 'OTRS';
    }));
    markerMapping.push(blogger_data.mapAs({
      value: 'y',
      fill: 'mfill',
      stroke: 'mstroke',
      label: 'mlabel'
    }).filter('name', function(val) {
      return val == 'OTRS';
    }));
    lineMapping.push(blogger_data.mapAs().filter('name', function(val) {
      return val == 'SAP S/4 Hana';
    }));
    markerMapping.push(blogger_data.mapAs({
      value: 'y',
      fill: 'mfill',
      stroke: 'mstroke',
      label: 'mlabel'
    }).filter('name', function(val) {
      return val == 'SAP S/4 Hana';
    }));
    lineMapping.push(blogger_data.mapAs().filter('name', function(val) {
        return val == 'SAP Cloud Platform';
      }));
    markerMapping.push(blogger_data.mapAs({
        value: 'y',
        fill: 'mfill',
        stroke: 'mstroke',
        label: 'mlabel'
    }).filter('name', function(val) {
        return val == 'SAP Cloud Platform';
    }));

    // create quadrant chart
    var chart = anychart.quadrant();
    // set chart padding
    chart.padding([10, 30, 70, 30]);

    // set chart title text settings
    chart.title()
      .enabled(true)
      .useHtml(true)
      .text('Q4 2016 to Q3 2018');
    chart.legend(true);

    // set scales settings
    chart.yScale()
      .minimum(0)
      .maximum(4000);
    chart.xScale()
      .minimum(0)
      .maximum(4000);

    // set quarters settings
    chart.quarters({
      rightTop: {
        fill: '#008000',
        title: {
          useHtml: true,
          fontSize: 12,
          lineHeight: 1.2,
          text: '<span style="color: white;font-size:20px">IN GOOD SHAPE</span>',
          padding: 10
        }
      },
      rightBottom: {
    	fill: '#ffff00',
        title: {
          useHtml: true,
          fontSize: 12,
          lineHeight: 1.2,
          text: '<span style="color: #2d4053;font-size:20px">CAPACITY</span>',
          padding: 10
        }
      },
      leftTop: {
    	fill: '#ff0000',
        title: {
          useHtml: true,
          fontSize: 12,
          lineHeight: 1.2,
          text: '<span style="color: white;font-size:20px">OPPORTUNITY</span>',
          padding: 10
        }
      },
      leftBottom: {
        fill: '#808080',
        title: {
          useHtml: true,
          fontSize: 12,
          lineHeight: 1.2,
          text: '<span style="color: white;font-size:20px">COLD MARKET</span>',
          padding: 10
        }
      }
    });

    // create first label in the upper-left quarter
    chart.quarters().leftBottom().label(0)
      .enabled(true)
      .useHtml(true)
      .rotation(-90)
      .position('left-bottom')
      .anchor('left-center')
      .offsetX(-15)
      .text('Arvato/External World &#8594;');

    // create first label in the lower-right quarter
    chart.quarters().leftBottom().label(1)
      .enabled(true)
      .useHtml(true)
      .position('left-bottom')
      .anchor('left-center')
      .offsetY(15)
      .text('Arvato Systems Malaysia &#8594;');

    // create  series with data
    var colors = '#a52a2a #f48fb1 #d4e157 #0095ff #ffab00 #800080 #00e7ff'.split(' ');
    for (var i = 0; i < 7; i++) {
      chart.line()
        .data(lineMapping[i])
        .labels(false)
        .markers(false)
        .tooltip(false)
        .stroke('#CECECE')
        .legendItem(null)
        .hovered({
          stroke: null
        })
        .selected({
          stroke: null
        });

      chart.marker()
        .data(markerMapping[i])
        .name(NAMES[i])
        .zIndex(99)
        .fill(colors[i])
        .stroke('2 #fff')
        .type('circle')
        .size(4)
        .selectionMode('none')
        .legendItem({
          iconType: 'circle'
        });
    }

    chart.labels()
      .fontFamily('Arial')
      .position('right')
      .fontColor('white')
      .anchor('left-center')
      .offsetX(5)
      .offsetY(0)
      .format(function() {
        return MONTHS[this.getData('month') - 1];
      });

    chart.tooltip()
      .useHtml(true)
      .titleFormat('{%Name}')
      .format(function() {
        /*var year = '2016 ';
        if (this.getData('month') == 12) year = '2017 ';*/
        return /*year +*/ MONTHS[this.getData('month') - 1] + '<br/><span style="color: #cecece; font-size: 11px">' +
          'Arvato/External World: </span>' + this.getData('x') + '<br/><span style="color: #cecece; font-size: 11px">' +
          'Arvato Systems Malaysia: </span>' + this.getData('y')
      });

    // set chart container id
    chart.container('container');
    // initiate chart drawing
    chart.draw();

    var if_playing = false;
    var monthPlaying = 2;
    var interval;
    $('#playButton').click(function() {
      var $element = $('#playButton .ac');
      if (if_playing) {
        $element.prop('class', 'ac ac-play');
        if_playing = false;
        clearInterval(interval);
      } else {
        $element.prop('class', 'ac ac-stop');
        if_playing = true;
        interval = setInterval(
          function() {
            $('#rangeInput').val(monthPlaying);
            changeValue();
            if (monthPlaying < 12) {
              monthPlaying += 1;
            } else {
              monthPlaying = 1;
            }
          }, 1500);
      }
    });

    function changeValue() {
      var newMonth = ri[0].value;
      var mapping = blogger_data.mapAs();
      var iter = mapping.getIterator();
      while (iter.advance()) {
        var month = iter.get('month');
        if (month == currentMonth) {
          mapping.set(iter.getIndex(), 'mfill', undefined);
          mapping.set(iter.getIndex(), 'mstroke', undefined);
          mapping.set(iter.getIndex(), 'mlabel', undefined);
        } else if (month == newMonth) {
          mapping.set(iter.getIndex(), 'mfill', 'white');
          mapping.set(iter.getIndex(), 'mstroke', 'white');
          mapping.set(iter.getIndex(), 'mlabel', {
            enabled: true
          });
        }
      }
      currentMonth = newMonth;
      chart.getSeriesAt(0).data(null).data(lineMapping[0]);
    }
  });
});


$(document).ready(function(){
	  
	   $("#playButton").click(); //trigger event after listening to it.

	});
	
    </script>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="container">
				<div class="pull-right hidden-xs">
					<b>Version</b>
					1.0.0
				</div>
				<strong> Copyright &copy; 2018 </strong>
				All rights reserved.
			</div>
			<!-- /.container -->
		</footer>
	</div>
	<!-- ./wrapper -->
</body>
</html>
