<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Search</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE" th:text="#{module.console}"></title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" th:href="@{/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css}">
<!-- Font Awesome -->
<link rel="stylesheet" th:href="@{/adminlte/bower_components/font-awesome/css/font-awesome.min.css}">
<!-- Ionicons -->
<link rel="stylesheet" th:href="@{/adminlte/bower_components/Ionicons/css/ionicons.min.css}">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" th:href="@{/adminlte/plugins/iCheck/all.css}">
<!-- Select2 -->
<link rel="stylesheet" th:href="@{/adminlte/bower_components/select2/dist/css/select2.min.css}">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/adminlte//dist/css/AdminLTE.min.css}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" th:href="@{/adminlte//dist/css/skins/_all-skins.min.css}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<style>
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #00a65a;
}
</style>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
	<div class="wrapper">

		<header class="main-header">
			<nav class="navbar navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<a href="/" class="navbar-brand">
							<b>ReadyActor</b>
						</a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
							<i class="fa fa-bars"></i>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="/search">
									Search
									<span class="sr-only">(current)</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
					<!-- Navbar Right Menu -->
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">

						</ul>
					</div>
					<!-- /.navbar-custom-menu -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</header>
		<!-- Full Width Column -->
		<div class="content-wrapper">
			<div class="container">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Search
						<small></small>
					</h1>
				</section>

				<!-- Main content -->
				<section class="content">
					<form method="get" action="/analysis">
						<div class="form-group">
							<button type="submit" id="search-btn" class="btn btn-block btn-success btn-lg">
								<i class="fa fa-search"></i>
								Search
							</button>
						</div>
						<div class="form-group">
							<select class="form-control select2" multiple="multiple" data-placeholder="Select Job Skills or Product Knowledge" style="width: 100%;">
								<option>Java</option>
								<option>SAP Hybris Commerce</option>
								<option>SAP Hybris Billing</option>
								<option>SAP Hybris CRM</option>
								<option>OTRS</option>
								<option>SAP S/4 Hana</option>
								<option>SAP Cloud Platform</option>
							</select>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="box box-info">
									<div class="box-header with-border">
										<h3 class="box-title">Arvato World</h3>
									</div>
									<!-- /.box-header -->
									<div class="box-body">
										<button type="button" class="btn bg-aqua btn-flat margin">Insight</button>
									</div>
									<!-- /.box-body -->
								</div>
								<!-- /.box -->
							</div>
							<!-- /.col -->

							<div class="col-md-6">
								<div class="box box-warning">
									<div class="box-header with-border">
										<h3 class="box-title">External World</h3>
									</div>
									<!-- /.box-header -->
									<div class="box-body">
										<button type="button" class="btn bg-yellow btn-flat margin">Jobstreet</button>
										<button type="button" class="btn bg-yellow btn-flat margin">SAP Community</button>
										<button type="button" class="btn bg-yellow btn-flat margin">Stackoverflow</button>
										<button type="button" class="btn bg-yellow btn-flat margin">Facebook</button>
										<button type="button" class="btn bg-yellow btn-flat margin">Twitter</button>
									</div>
									<!-- /.box-body -->
								</div>
								<!-- /.box -->
							</div>
							<!-- /.col -->
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">Arvato Systems Malaysia</h3>
									</div>
									<!-- /.box-header -->
									<div class="box-body">
										<button type="button" class="btn bg-blue btn-flat margin">Employee Profile</button>
										<button type="button" class="btn bg-blue btn-flat margin">CATS</button>
										<button type="button" class="btn bg-blue btn-flat margin">Projects</button>
										<button type="button" class="btn bg-blue btn-flat margin">Job Opening</button>
									</div>
									<!-- /.box-body -->
								</div>
								<!-- /.box -->
							</div>
						</div>
					</form>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="container">
				<div class="pull-right hidden-xs">
					<b>Version</b>
					1.0.0
				</div>
				<strong> Copyright &copy; 2018 </strong>
				All rights reserved.
			</div>
			<!-- /.container -->
		</footer>
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<script th:src="@{/adminlte/bower_components/jquery/dist/jquery.min.js}"></script>
	<!-- jQuery 3 -->
	<script th:src="@{/adminlte/bower_components/jquery/dist/jquery.min.js}"></script>
	<!-- Bootstrap 3.3.7 -->
	<script th:src="@{/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/adminlte/bower_components/select2/dist/js/select2.full.min.js}"></script>
	<!-- SlimScroll -->
	<script th:src="@{/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<!-- iCheck 1.0.1 -->
	<script th:src="@{/adminlte/plugins/iCheck/icheck.min.js}"></script>
	<!-- FastClick -->
	<script th:src="@{/adminlte/bower_components/fastclick/lib/fastclick.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>

	<script>
		$(function() {
			//Initialize Select2 Elements
			$('.select2').select2()
		})
	</script>
</body>
</html>
